export PROJECT_DIR=${PWD}
export SECRETS_DIR=${PROJECT_DIR}/secrets
export WORK_DIR=${PROJECT_DIR}/work
export PARAMS_YAML=${SECRETS_DIR}/params.yaml

PATH=${PROJECT_DIR}/bin:${PATH}

# for terraforming DNS
export GOOGLE_CREDENTIALS=${PROJECT_DIR}/secrets/$(yq e .gcp.service-account.name ${PARAMS_YAML}).json
export TF_VAR_project=chuckdantonio
export TF_VAR_gcp_key=${GOOGLE_CREDENTIALS}
export TF_VAR_region=us-west-1
